* {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}
.main-pic {
  width: 100%;
  height: 100vh;
}
.left-section {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  float: left;
  position: absolute;
}
.pic-credit {
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 170px;
}
a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: gold;
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60%;
  height: 100vh;
  float: right;
  background-color: gold;
}
/* @media (max-width: 850px) {
    .main-pic, .left-section, .right-section{
        width: 90%;
        }
        .right-section{
            display: block;
            padding-bottom: 30px;
            }
            .pic-credit{display: none;}
            a{font-size: 18px;}
            } */

form {
    margin: auto;
   font-size: 25px;
}
