* {
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  font-family: "Arial", sans-serif;
  color: white;
  width: auto;
  background-color: black;
}
.main-pic {
  width: 100%;
  height: 100vh;
}
.left-section {
  width: 40%;
  height: 100vh;
  margin: 0 auto;
  float: left;
  position: absolute;
}
.logo {
  position: absolute;
  width: 60px;
  height: 70px;
  margin-left: -580px;
  margin-top: 20px;
}
.pic-credit {
  color: white;
  font-size: 16px;
  text-align: center;
  position: absolute;
  bottom: 12px;
  left: 170px;
}
a {
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: rgb(240, 214, 64);
}

.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100vh;
  float: right;
  background-color: rgb(240, 214, 64);
}
/* @media (max-width: 850px) {
    .main-pic, .left-section, .right-section{
        width: 90%;
        }
        .right-section{
            display: block;
            padding-bottom: 30px;
            }
            .pic-credit{display: none;}
            a{font-size: 18px;}
            } */

form {
  margin: auto;
  font-size: 25px;
}
input {
  display: flex;
  transition: all 0.3s ease-in;
  border: 2px solid rgb(240, 214, 64);
  border-radius: 4px;
  outline: none;
  font-size: 20px;
  border-bottom: 3px solid white;
  background-color: transparent;
  padding: 6px 6px 6px 10px;
  color: white;
  margin: 5px;
}
input:hover {
  border: 2px solid white;
  border-radius: 4px;
}
input.clicked {
  border: 2px solid white;
}
select {
  display: flex;
  transition: all 0.3s ease-in;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  width: 250px;
  height: 35px;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
}
option {
  color: black;
}
h2 {
  text-align: center;
  font-size: 48px;
  margin:  20px;
}
.signin-link:hover {
  text-decoration: underline;
}

.submit-btn {
  padding: 15px 58px 15px 58px;
  border: 3px solid white;
  cursor: pointer;
  border-radius: 4px;
  display: block;
  font-size: 20px;
  letter-spacing: 4px;
  background-color: rgb(240, 214, 64);
  color: #fff;
}
.submit-btn:hover {
  background-color: white;
  color: gold;
}
.login-line {
  font-size: 25px;
  margin-left: 38vh;
  margin-top: 10px;
}
.signup-line {
  font-size: 25px;
  margin-left: 44vh;
  margin-top: 10px;
}
#confirmPasswordError {
  color: red;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first-div,
.second-div,
.third-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  width: 900px;
  gap: 10px;
}


label {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.second-div {
  margin-bottom: 25px;
}
#dob {
  width: 230px;
}
.login-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: max-content;
  width: 900px;
  gap: 10px;
}
